@import "tailwindcss";

body {
  font-family: "montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}
:root {
  --primary-purple: #4a044e;
}

.glass-card {
  background: #ffffff3d;
  box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border-radius: 0.75rem;
}

.task-card {
  background: #ffffff;
  box-shadow: 0px 2px 4px -1px #0000000f, 0px 4px 6px -1px #0000001a;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border-radius: 0.75rem;
}

.rounded-corner {
  border-radius: 0.75rem;
}
/* If using plain CSS */
.task-highlighted {
  filter: none !important;
  backdrop-filter: none !important;
  z-index: 99999999;
  border: 3px solid #2c0302;
}

.modal-card {
  position: fixed;
  inset: 0;
  z-index: 50;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(217, 217, 217, 0.42);
  border-radius: var(--rounded-xl, 12px);

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25),
    0 2px 4px -1px rgba(0, 0, 0, 0.06), 0.5px -0.5px 0 rgba(255, 255, 255, 0.8),
    -0.5px 0.5px 0 rgba(255, 255, 255, 0.8);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.bg-primaryPurple {
  background-color: var(--primary-purple);
  color: white;
}

.min-height {
  min-height: clamp(20rem, 60vh, 50rem);
}

.min-height-dashboard {
  min-height: clamp(19rem, 35vh, 30rem);
}

.min-height-progress {
  min-height: clamp(15rem, 27vh, 27rem);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  transition: width 0.3s ease;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 0px;
}

/* Keep your exact design */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #2c0302;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b46c1;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #2c0302;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Scrollbar width */
body::-webkit-scrollbar {
  width: 10px;
}

@layer utilities {
  .dynamic-scale {
    transform: scale(0.85);
  }

  @media (min-height: 700px) {
    .dynamic-scale {
      transform: scale(0.85);
    }
  }

  @media (min-height: 900px) {
    .dynamic-scale {
      transform: scale(0.9);
    }
  }

  @media (min-height: 1100px) {
    .dynamic-scale {
      transform: scale(1);
    }
  }
}
